xterm*faceName: Droid Sans Mono for Powerline
xterm*faceSize: 10
xterm*font: 7x13
xterm*termName: xterm-256color
*customization: -color

rofi.theme: solarized

! Foreground color
rofi.fg:                             #839496

! Background color
rofi.bg:                             #00151BCC

! Foreground color for active row
rofi.fg-active:                      #268BD2

! Foreground color for urgent row
rofi.fg-urgent:                      #DC322F

! Foreground color for highlighted active row
rofi.hlfg-active:                    #FDF6E3

! Foreground color for highlighted urgent row
rofi.hlfg-urgent:                    #FDF6E3

! Background color for active row
rofi.bg-active:                      #004F66

! Background color for urgent row
rofi.bg-urgent:                      #002833

! Background color for highlighted active row
rofi.hlbg-active:                    #268BD2

! Background color for highlighted urgent row
rofi.hlbg-urgent:                    #DC322F

! Background color for alternating row
rofi.bgalt:                          #002630

! Foreground color for highlighted row
rofi.hlfg:                           #EEE8D5

! Background color for highlighted row
rofi.hlbg:                           #586E75

! Border color
rofi.bc:                             #002B36

! Terminal to use
rofi.terminal:                       kitty

! Ssh client to use
rofi.ssh-client:                     /usr/bin/ssh

! Ssh command to execute
rofi.ssh-command:                    {terminal} -e "{ssh-client} {host}"

